@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

:root {
  --font-base: 'Antonio', sans-serif;
  --font-alt: 'Lora', sans-serif;
  
  --color-gray: #1E2328;
  --color-lightGray: #3B3F46;
  --color-orange: #f5a201;
  --color-lightYellow: #FED053;
  --color-darkYellow: #f4b300;
  --color-white: #FFFFFF;
  
  --color-green: #74a065;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

a {
  color: unset;
  text-decoration: none;
}

.slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
